<div class="flex bg-black h-screen text-white">
    <app-sidebar class="hidden lg:block"></app-sidebar>

    <!-- Main Content -->
    <div class="flex-1 p-6 space-y-6 overflow-y-auto">  
        <h1 class="text-3xl font-bold border-b border-blue-500 pb-2">Ejercicios</h1>

        <!-- Subscription Section -->
        <div class="text-center rounded-lg p-2 max-w-sm mx-auto bg-transparent">
            <img src="assets/subscribete2.gif" alt="" class="w-3/4 mx-auto">
        </div>

        <!-- Exercise Level Selection -->
        <h2 class="text-2xl lg:text-3xl text-center font-semibold mt-6">BASICO</h2>

        <!-- Carousel Section with Controls -->
        <div class="flex items-center justify-center space-x-4 lg:space-x-6">
            <!-- Previous Button -->
            <button (click)="prevExercise()" class="p-4 bg-blue-900 rounded-lg text-2xl flex items-center justify-center">&lt;</button>

            <!-- Exercise Card -->
            <div class="bg-blue-900 rounded-lg p-4 w-48 h-64 lg:w-60 lg:h-80 text-center mx-2">
                <img [src]="exercises[currentExercise].image" alt="{{exercises[currentExercise].title}}" class="w-full h-32 object-cover rounded-md mb-2">
                <h3 class="text-lg font-semibold">{{exercises[currentExercise].title}}</h3>
                <button class="bg-black text-white py-2 px-6 mt-4 rounded-full hover:bg-gray-800">
                    ver
                </button>
            </div>

            <!-- Next Button -->
            <button (click)="nextExercise()" class="p-4 bg-blue-900 rounded-lg text-2xl flex items-center justify-center">&gt;</button>
        </div>
    </div>

    <!-- Bottom Navigation for Mobile -->
    <app-bottom-nav class="lg:hidden"></app-bottom-nav>
</div>
