<div class="bg-blue-900 text-white rounded-xl p-4 space-y-2 border-2 border-blue-500 shadow-[0px_0px_8px_rgba(0,0,255,0.8),0px_0px_16px_rgba(0,0,255,0.6),0px_0px_24px_rgba(0,0,255,0.4)] transition-shadow duration-300 ease-in-out hover:shadow-[0px_0px_12px_rgba(0,255,255,1),0px_0px_24px_rgba(0,255,255,0.8),0px_0px_36px_rgba(0,255,255,0.6)]">
  <h2 class="text-lg font-bold">{{ title }}</h2>
  <img *ngIf="imageUrl" [src]="imageUrl" alt="News Image" class="w-32 h-32 object-cover rounded-md mb-2 mx-auto">
  <p>{{ description }}</p>
</div>
