<div class="flex bg-black min-h-screen">
  <!-- Sidebar fijo para escritorio -->
  <app-sidebar-Admin class="hidden lg:flex fixed top-0 left-0 h-screen z-10"></app-sidebar-Admin>

  <!-- Contenido principal -->
  <div class="flex-1 lg:ml-64 p-4 space-y-4 text-white overflow-hidden pb-16">
    <!-- Título de la página -->
    <h1 class="text-3xl font-bold border-b border-blue-500 pb-2">
      Gestión de Usuarios
    </h1>

    <!-- Indicador de carga -->
    <div *ngIf="loading" class="text-center text-blue-500">
      Cargando usuarios...
    </div>

    <!-- Tabla de usuarios -->
    <div *ngIf="!loading" class="users-table bg-gray-800 p-6 rounded-lg shadow-lg mt-8">
      <h2 class="text-xl font-semibold mb-4 text-blue-500">
        Lista de Usuarios
      </h2>
      <div class="overflow-x-auto">
        <table class="table-auto w-full text-left border-collapse">
          <thead>
            <tr class="bg-gray-700 text-white">
              <th class="border px-4 py-2">ID</th>
              <th class="border px-4 py-2">Nombre</th>
              <th class="border px-4 py-2">Correo</th>
              <th class="border px-4 py-2">Premium</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let user of users"
              class="text-gray-300 hover:bg-gray-700"
            >
              <td class="border px-4 py-2">{{ user.id }}</td>
              <td class="border px-4 py-2">{{ user.nombre_usuario }}</td>
              <td class="border px-4 py-2">{{ user.correo }}</td>
              <td class="border px-4 py-2">
                <label class="relative inline-flex items-center cursor-pointer">
                  <input
                    type="checkbox"
                    class="sr-only peer"
                    [checked]="user.es_premium"
                    (change)="togglePremium(user)"
                  />
                  <div
                    class="peer h-6 w-12 rounded-full bg-gray-400 peer-checked:bg-blue-500 after:content-[''] after:absolute after:top-0.5 after:left-0.5 after:bg-white after:rounded-full after:h-5 after:w-5 after:transition-all peer-checked:after:translate-x-6"
                  ></div>
                </label>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <!-- Navegación inferior para dispositivos móviles -->
  <app-bottom-nav-admin class="lg:hidden fixed bottom-0 w-full z-10"></app-bottom-nav-admin>
</div>
