<div class="flex flex-col items-center space-y-4 lg:space-y-0 lg:grid lg:grid-cols-3 lg:gap-6">
  <app-news-card 
    title="Noticias destacadas"
    imageUrl="assets/Logo.jpeg"
    description="Es lesivo el PESO MUERTO? No, si se realiza con la técnica correcta."
  ></app-news-card>

  <app-news-card 
    title="¿Cuántos días a la semana es ideal entrenar?" 
    description="3-5 días es lo recomendable para la mayoría."
  ></app-news-card>

  <app-news-card 
    title="¿El cardio quema músculo?" 
    description="Solo si es excesivo y sin buena alimentación."
  ></app-news-card>
</div>
