<div class="bg-black p-8">
  <!-- Noticia destacada -->
  <div *ngIf="featuredNews" 
       class="relative bg-cover bg-center rounded-lg overflow-hidden shadow-lg h-96 transition-transform transform hover:scale-105 hover:shadow-[0px_0px_15px_rgba(239,184,16,0.6),0px_0px_25px_rgba(239,184,16,0.4)]" 
       [style.background-image]="'url(' + featuredNews.imagen + ')'" 
       (click)="navigateToDetail(featuredNews.id)">
    <div class="absolute inset-0 bg-black bg-opacity-50 flex flex-col justify-end p-6">
      <span class="text-sm text-yellow-400 font-semibold uppercase mb-2">Noticia destacada</span>
      <h2 class="text-3xl text-white font-bold mb-4">{{ featuredNews.titulo }}</h2>
      <p class="text-white text-sm mb-4">{{ featuredNews.resumen }}</p>
    </div>
  </div>

  <!-- Noticias secundarias -->
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-6 mt-8">
    <ng-container *ngFor="let item of news">
      <div class="relative bg-cover bg-center rounded-lg overflow-hidden shadow-md h-48 transition-transform transform hover:scale-105 hover:shadow-[0px_0px_15px_rgba(0,162,255,0.6),0px_0px_25px_rgba(0,162,255,0.4)]" 
           [style.background-image]="'url(' + item.imagen + ')'" 
           (click)="navigateToDetail(item.id)">
        <div class="absolute inset-0 bg-black bg-opacity-30 flex items-end p-4">
          <h3 class="text-lg text-white font-semibold">{{ item.titulo }}</h3>
        </div>
      </div>
    </ng-container>
  </div>
</div>
