<div class="flex bg-black min-h-screen text-white">
  <!-- Sidebar for desktop -->
  <app-sidebar class="hidden lg:block"></app-sidebar>

  <!-- Main Content -->
  <div class="flex-1 p-6 space-y-6 overflow-y-auto">
    <h1 class="text-3xl font-bold border-b border-blue-500 pb-2">Rutinas</h1>

    <!-- Row Container for Subscription and Exercise Level -->
    <div class="flex items-center justify-between gap-6">
      <!-- Exercise Level Selection -->
      <div class="text-center flex-1">
        <h2 class="text-lg font-semibold mb-6">Escoge un nivel de Ejercicios</h2>

        <!-- Exercise Level Buttons -->
        <div class="flex flex-col items-center space-y-6">
          <button routerLink="/ExerciseBasico" class="w-full max-w-xs bg-blue-800 text-white font-bold py-4 rounded-full hover:bg-blue-700 text-2xl">
            BASICO-CASA
          </button>

          <button routerLink="/ExerciseIntermedio" class="w-full max-w-xs bg-blue-800 text-white font-bold py-4 rounded-full hover:bg-blue-700 text-2xl">
            INTERMEDIO-GYM
          </button>

       <!-- Locked Advanced Button -->
<button 
class="w-full max-w-xs bg-blue-800 text-white font-bold py-4 rounded-full relative text-2xl hover:bg-blue-700" 
[class.opacity-50]="!isPremium"
(click)="handleAdvancedClick()">
AVANZADO
<span *ngIf="!isPremium" class="absolute right-4 top-1/2 transform -translate-y-1/2">
  <i class="fas fa-lock"></i>
</span>
</button>


      <!-- Subscription Section -->
      <div class="rounded-lg p-2 max-w-sm bg-transparent" (click)="openPremium()">
        <img src="assets/subscribete2.gif" alt="" class="w-3/4 mx-auto cursor-pointer">
      </div>
    </div>

    <!-- Premium Modal -->
    <div *ngIf="showPremium" class="fixed inset-0 bg-black bg-opacity-50 flex items-center justify-center z-50">
      <app-premium (closed)="closePremium()"></app-premium>
    </div>
  </div>

  <!-- Bottom Navigation for Mobile -->
  <app-bottom-nav class="lg:hidden fixed bottom-0 w-full"></app-bottom-nav>
</div>