<div class="fixed bottom-0 w-full bg-black text-white flex justify-around py-4 z-10">
  <button routerLink="/home" routerLinkActive="text-blue-400" class="flex flex-col items-center space-y-1">
    <img src="assets/home.png" alt="Home" class="w-8 h-8">
  </button>
  <button routerLink="/exercise" routerLinkActive="text-blue-400" class="flex flex-col items-center space-y-1">
    <img src="assets/gym.png" alt="Rutinas" class="w-8 h-8">
  </button>
  <button routerLink="/search" routerLinkActive="text-blue-400" class="flex flex-col items-center space-y-1">
    <img src="assets/search.png" alt="Busqueda" class="w-8 h-8">
  </button>
  <button routerLink="/noticias" routerLinkActive="text-blue-400" class="flex flex-col items-center space-y-1">
    <img src="assets/newspaper.png" alt="Noticias" class="w-8 h-8">
  </button>
  <button routerLink="/profile" routerLinkActive="text-blue-400" class="flex flex-col items-center space-y-1">
    <img src="assets/user.png" alt="Perfil" class="w-8 h-8 rounded-full">
  </button>
  <button routerLink="/" routerLinkActive="text-blue-400" class="flex flex-col items-center space-y-1">
    <img src="assets/exit.png" alt="salida" class="w-8 h-8 rounded-full">
  </button>
</div>