<div class="fixed bottom-0 w-full bg-black text-white flex justify-around py-2 lg:hidden">
  <button routerLink="/home" routerLinkActive="text-blue-400" class="flex flex-col items-center">
    <img src="assets/home.png" alt="Home" class="w-6 h-6">
  </button>
  <button routerLink="/exercise" routerLinkActive="text-blue-400" class="flex flex-col items-center">
    <img src="assets/gym.png" alt="Rutinas" class="w-6 h-6">
  </button>
  <button routerLink="/busqueda" routerLinkActive="text-blue-400" class="flex flex-col items-center">
    <img src="assets/search.png" alt="Busqueda" class="w-6 h-6">
  </button>
  <button routerLink="/noticias" routerLinkActive="text-blue-400" class="flex flex-col items-center">
    <img src="assets/newspaper.png" alt="Noticias" class="w-6 h-6">
  </button>
  <button routerLink="/perfil" routerLinkActive="text-blue-400" class="flex flex-col items-center">
    <img src="assets/user.png" alt="Perfil" class="w-6 h-6 rounded-full">
  </button>
</div>
