<div class="flex flex-col items-center bg-black text-white h-screen p-4 space-y-4">
    <img src="assets/Logo.jpeg" alt="UPG&M Logo" class="w-16 h-16 rounded-full mb-4">
    
    <!-- Navigation Items -->
    <nav class="flex flex-col space-y-6">
      <button routerLink="/home" class="text-white">
        <img src="assets/home.png" alt="Home" class="w-8 h-8">
      </button>
      <button routerLink="/exercise" class="text-white">
        <img src="assets/gym.png" alt="Rutinas" class="w-8 h-8">
      </button>
      <button routerLink="/busqueda" class="text-white">
        <img src="assets/search.png" alt="Busqueda" class="w-8 h-8">
      </button>
      <button routerLink="/noticias" class="text-white">
        <img src="assets/newspaper.png" alt="Noticias" class="w-8 h-8">
      </button>
      <button routerLink="/perfil" class="text-white">
        <img src="assets/user.png" alt="Perfil" class="w-8 h-8">
      </button>
    </nav>
  </div>
  