<div class="flex flex-col justify-between bg-black text-white h-screen p-4 hidden lg:flex relative">
  <!-- Top Section -->
  <div class="flex flex-col items-center space-y-4">
    <!-- Logo -->
    <img src="assets/Logo.jpeg" alt="UPG&M Logo" class="w-16 h-16 rounded-full mb-4">

    <!-- Navigation Items -->
    <nav class="flex flex-col space-y-6 w-full">
      <button routerLink="/home" routerLinkActive="active" class="flex items-center space-x-4 text-white hover:text-blue-400">
        <img src="assets/home.png" alt="Home" class="w-8 h-8">
        <span>Home</span>
      </button>
      <button routerLink="/exercise" routerLinkActive="active" class="flex items-center space-x-4 text-white hover:text-blue-400">
        <img src="assets/gym.png" alt="Rutinas" class="w-8 h-8">
        <span>Rutinas</span>
      </button>
      <button routerLink="/search" routerLinkActive="active" class="flex items-center space-x-4 text-white hover:text-blue-400">
        <img src="assets/search.png" alt="Busqueda" class="w-8 h-8">
        <span>Busqueda</span>
      </button>
      <button routerLink="/noticias" routerLinkActive="active" class="flex items-center space-x-4 text-white hover:text-blue-400">
        <img src="assets/newspaper.png" alt="Noticias" class="w-8 h-8">
        <span>Noticias</span>
      </button>
      <button routerLink="/profile" routerLinkActive="active" class="flex items-center space-x-4 text-white hover:text-blue-400">
        <img src="assets/user.png" alt="Perfil" class="w-8 h-8">
        <span>Perfil</span>
      </button>
      
      <!-- Mostrar este botón solo si es_premium es true -->
      <button *ngIf="currentUser?.es_premium" routerLink="/grasa" routerLinkActive="active" class="flex items-center space-x-4 text-white hover:text-blue-400">
        <img src="assets/Grasa.png" alt="Porcentaje Grasa" class="w-8 h-8">
        <span>Porcentaje de Grasa</span>
      </button>
      
      <button (click)="logout()" class="flex items-center space-x-4 text-white hover:text-blue-400">
        <img src="assets/exit.png" alt="salida" class="w-8 h-8">
        <span>Cerrar sesión</span>
      </button>
    </nav>
  </div>  
</div>
