<div class="flex bg-black min-h-screen">
  <!-- Sidebar -->
  <app-sidebar-Admin class="hidden lg:flex fixed top-0 left-0 h-screen z-10"></app-sidebar-Admin>

  <!-- Contenido principal -->
  <div class="flex-1 lg:ml-64 p-4 space-y-4 text-white overflow-hidden pb-16">
    <div class="container mx-auto p-4">
      <h1 class="text-2xl font-bold text-left mb-6">GESTOR USUARIOS</h1>

      <!-- Formulario para agregar administrador -->
      <form
        [formGroup]="adminForm"
        (ngSubmit)="addAdmin()"
        class="mb-6 bg-gray-800 p-6 rounded-lg shadow-lg"
      >
        <h2 class="text-xl font-semibold text-blue-500 mb-4">Agregar Administrador</h2>
        <div class="grid grid-cols-2 gap-6">
          <!-- Campo Nombre -->
          <div>
            <label for="nombre" class="block text-sm font-medium text-white">Nombre</label>
            <input
              id="nombre"
              type="text"
              formControlName="nombre"
              [class.border-red-500]="adminForm.get('nombre')?.invalid && adminForm.get('nombre')?.touched"
              class="mt-1 block w-full rounded-md border-gray-600 bg-gray-900 text-white shadow-sm focus:ring-blue-500 focus:border-blue-500 p-4"
            />
            <div *ngIf="adminForm.get('nombre')?.invalid && adminForm.get('nombre')?.touched" class="text-red-500 text-sm mt-1">
              Nombre es requerido y debe tener al menos 3 caracteres.
            </div>
          </div>

          <!-- Campo Apellido -->
          <div>
            <label for="apellido" class="block text-sm font-medium text-white">Apellido</label>
            <input
              id="apellido"
              type="text"
              formControlName="apellido"
              [class.border-red-500]="adminForm.get('apellido')?.invalid && adminForm.get('apellido')?.touched"
              class="mt-1 block w-full rounded-md border-gray-600 bg-gray-900 text-white shadow-sm focus:ring-blue-500 focus:border-blue-500 p-4"
            />
            <div *ngIf="adminForm.get('apellido')?.invalid && adminForm.get('apellido')?.touched" class="text-red-500 text-sm mt-1">
              Apellido es requerido y debe tener al menos 3 caracteres.
            </div>
          </div>

          <!-- Campo Correo -->
          <div>
            <label for="correo" class="block text-sm font-medium text-white">Correo</label>
            <input
              id="correo"
              type="email"
              formControlName="correo"
              [class.border-red-500]="adminForm.get('correo')?.invalid && adminForm.get('correo')?.touched"
              class="mt-1 block w-full rounded-md border-gray-600 bg-gray-900 text-white shadow-sm focus:ring-blue-500 focus:border-blue-500 p-4"
            />
            <div *ngIf="adminForm.get('correo')?.invalid && adminForm.get('correo')?.touched" class="text-red-500 text-sm mt-1">
              Proporcione un correo válido.
            </div>
          </div>

          <!-- Campo Contraseña -->
          <div>
            <label for="contraseña" class="block text-sm font-medium text-white">Contraseña</label>
            <input
              id="contraseña"
              type="password"
              formControlName="contraseña"
              [class.border-red-500]="adminForm.get('contraseña')?.invalid && adminForm.get('contraseña')?.touched"
              class="mt-1 block w-full rounded-md border-gray-600 bg-gray-900 text-white shadow-sm focus:ring-blue-500 focus:border-blue-500 p-4"
            />
            <div *ngIf="adminForm.get('contraseña')?.invalid && adminForm.get('contraseña')?.touched" class="text-red-500 text-sm mt-1">
              Contraseña debe tener al menos 6 caracteres.
            </div>
          </div>

          <!-- Nuevo Campo Nombre Administrador -->
          <div>
            <label for="nombreAdministrador" class="block text-sm font-medium text-white">Nombre del Administrador</label>
            <input
              id="nombreAdministrador"
              type="text"
              formControlName="nombreAdministrador"
              [class.border-red-500]="adminForm.get('nombreAdministrador')?.invalid && adminForm.get('nombreAdministrador')?.touched"
              class="mt-1 block w-full rounded-md border-gray-600 bg-gray-900 text-white shadow-sm focus:ring-blue-500 focus:border-blue-500 p-4"
            />
            <div *ngIf="adminForm.get('nombreAdministrador')?.invalid && adminForm.get('nombreAdministrador')?.touched" class="text-red-500 text-sm mt-1">
              El nombre del administrador es requerido y debe tener al menos 3 caracteres.
            </div>
          </div>
        </div>

        <!-- Botón de Enviar -->
        <div class="text-center mt-4">
          <button
            type="submit"
            [disabled]="adminForm.invalid"
            class="px-6 py-3 bg-blue-600 text-white font-medium rounded-lg shadow hover:bg-blue-700 disabled:bg-blue-600"
          >
            Agregar Administrador
          </button>
        </div>
      </form>

      <!-- Lista de administradores -->
      <div *ngIf="admins.length > 0" class="bg-gray-800 p-6 rounded-lg shadow-lg">
        <h2 class="text-xl font-semibold text-blue-500 mb-4">Lista de Administradores</h2>
        <ul class="space-y-4">
          <li
            *ngFor="let admin of admins"
            class="bg-gray-900 p-4 rounded-lg shadow flex justify-between items-center"
          >
            <div>
              <p class="text-lg font-semibold text-white">{{ admin.nombre }} {{ admin.apellido }}</p>
              <p class="text-sm text-gray-400">{{ admin.correo }}</p>
            </div>
            <div class="space-x-2">
              <button
                (click)="editAdmin(admin)"
                class="px-3 py-1 bg-yellow-500 text-white rounded hover:bg-yellow-600"
              >
                Editar
              </button>
              <button
                (click)="deleteAdmin(admin.id)"
                class="px-3 py-1 bg-red-600 text-white rounded hover:bg-red-700"
              >
                Eliminar
              </button>
            </div>
          </li>
        </ul>
      </div>
      <div *ngIf="admins.length === 0" class="text-center text-gray-500 mt-6">
        No hay administradores registrados.
      </div>

      <!-- Mensaje de error -->
      <div *ngIf="errorMessage" class="text-red-500 mt-4">
        {{ errorMessage }}
      </div>
    </div>
  </div>
</div>


<!-- Modal de Editar Administrador -->
<div *ngIf="isEditModalOpen" class="fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center z-20">
  <div class="bg-gray-800 p-6 rounded-lg shadow-lg w-full max-w-lg">
    <h2 class="text-xl font-semibold text-blue-500 mb-4">Editar Administrador</h2>
    <form
      [formGroup]="editAdminForm"
      (ngSubmit)="updateAdmin()"
      class="space-y-4"
    >
      <div>
        <label for="editNombre" class="block text-sm font-medium text-white">Nombre</label>
        <input
          id="editNombre"
          type="text"
          formControlName="nombre"
          class="mt-1 block w-full rounded-md border-gray-600 bg-gray-900 text-white shadow-sm focus:ring-blue-500 focus:border-blue-500 p-4"
        />
      </div>

      <div>
        <label for="editApellido" class="block text-sm font-medium text-white">Apellido</label>
        <input
          id="editApellido"
          type="text"
          formControlName="apellido"
          class="mt-1 block w-full rounded-md border-gray-600 bg-gray-900 text-white shadow-sm focus:ring-blue-500 focus:border-blue-500 p-4"
        />
      </div>

      <div>
        <label for="editCorreo" class="block text-sm font-medium text-white">Correo</label>
        <input
          id="editCorreo"
          type="email"
          formControlName="correo"
          class="mt-1 block w-full rounded-md border-gray-600 bg-gray-900 text-white shadow-sm focus:ring-blue-500 focus:border-blue-500 p-4"
        />
      </div>

      <div>
        <label for="editNombreAdministrador" class="block text-sm font-medium text-white">Nombre del Administrador</label>
        <input
          id="editNombreAdministrador"
          type="text"
          formControlName="nombreAdministrador"
          class="mt-1 block w-full rounded-md border-gray-600 bg-gray-900 text-white shadow-sm focus:ring-blue-500 focus:border-blue-500 p-4"
        />
      </div>

      <div class="text-center mt-4 flex justify-center space-x-4">
        <button
          type="submit"
          [disabled]="editAdminForm.invalid"
          class="px-6 py-3 bg-blue-600 text-white font-medium rounded-lg shadow hover:bg-blue-700 disabled:bg-blue-600"
        >
          Actualizar Administrador
        </button>
        <button
          type="button"
          (click)="closeEditModal()"
          class="px-6 py-3 bg-gray-600 text-white font-medium rounded-lg shadow hover:bg-gray-700"
        >
          Cerrar
        </button>
      </div>
    </form>
  </div>
  <app-bottom-nav-admin class="lg:hidden fixed bottom-0 w-full z-10"></app-bottom-nav-admin>

</div>
