<div class="relative flex items-center justify-center h-screen bg-black text-white">
  <div class="flex flex-col lg:flex-row items-center lg:space-x-12">
    <div class="flex justify-center lg:justify-end mb-8 lg:mb-0">
      <img src="assets/Logo.jpeg" alt="UPG&M Logo" class="w-80 h-80 md:w-96 md:h-96 lg:w-[30rem] lg:h-[30rem] rounded-full">
    </div>
    <div class="text-center lg:text-left space-y-4">
      <h1 class="text-2xl lg:text-5xl font-bold">FALTA DE MOTIVACIÓN?</h1>
      <p class="text-lg lg:text-xl">Inicia tu cambio hoy</p>

      <!-- Register Button -->
      <button 
        routerLink="/register" 
        class="bg-blue-500 text-white font-bold py-3 px-8 rounded-full w-52 mx-auto lg:mx-0 text-lg hover:bg-blue-600">
        Regístrate
      </button>

      <p class="text-base lg:text-lg mt-4">¿Ya tienes cuenta?</p>

      <!-- Login Button -->
      <button 
        routerLink="/login" 
        class="bg-purple-700 text-white font-bold py-3 px-8 rounded-full w-52 mx-auto lg:mx-0 text-lg hover:bg-purple-800">
        Iniciar sesión
      </button>
    </div>
  </div>
</div>
